/* ======= mis en page du div principal =======*/
#container-card{
    padding: 15px;
    text-align: center;
}

h1{
    text-align: center;
}

/* =========== boutton js | btn générer par js (voir main.js) ============ */
.btn{
    padding: 10px;
    margin: 10;
}

/* =========== grid js | grid générer par js (voir main.js) ============ */
.gridCard{
    padding: 5px;
}

/* =========== boutton js | btn générer par js (voir main.js) ============ */
#butt{
    padding: 10px;
    margin: 10px;
    /* background-color: blue; */
    color: white;
}